{% extends 'base.html' %}
{% load static %}

{% block title %}IPO | D-Street '21{% endblock %}

{% block content %}

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text">IPO Applications</h3>
                      
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                           
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                {% if status != "Completed" %}
                                <a href='/ipo/distriute/{{id}}/'>Distribute</a>
                                {% else %}
                                <p>Distributed</p>
      
                                {% endif %}
                                
                                
                            </div>
                            
                        </div>
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
         
                <!-- Row -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id='example23' class="table">
                                        <thead>
                                            <tr>
                                            
                                                <th>User</th>
                                                <th>Created At</th>
                                                <th>Status</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for item in items %}
                                    <tr>        

                                                <td>{{item.user}}</td>
                                                <td>{{item.created_at}}</td>
                                                <td>{{item.status}}</td>
  
                                    </tr>
                                        {% endfor %}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>

                
              
                <!-- Row -->
                <!-- Row -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">© 2022 D-Street</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
 

{% endblock %}